:root {
    --bgnd_dark: #483D8B;
    --text-light: #FFF0F3;
    --title-light: #00FF7F;
    --border-light: #FFF0F3;
}

body {
    background-color: var(--bgnd_dark);
    font-family: 'Fjalla';
    font-size: 1.5rem;
    color: var(--text-light) 
}

h1 {
    font-family:'Creepster';
    font-size: 5rem;    
    color: var(--title-light);
}

h2 {
    color: var(--title-light)
}

.form-encode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    height: 1;
}

.input-message {
    line-height: 2rem;
}

.title {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.encode, .decode{
    border: 6px solid var(--border-light);
    border-radius: 12px;
    padding: 1.5rem;
    font-family: 'Merienda';
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.options-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-light);
    text-decoration: none;
}

.materials-symbols-outlined {
    size: 2rem;
}

/* Spinner de Loading */
.spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498DB;
    animation: spin 1s infinite linear;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    display: none;
}


